* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 50px;
    background-color: aqua;
}

header button {
    padding: 5px 10px;
}

.container {
    height: calc(100vh - 50px);
    position: relative;
    background-color: pink;
}

.number {
    position: absolute;
    font-size: 25px;
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 50%;
}